.carousel-container {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 700px;
  transform: scale(1.2);
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel-item {
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: 200px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  transition: transform 0.3s ease; /* Ensure smooth scaling */
  pointer-events: auto; /* Ensure clicks are registered */
  overflow: hidden;
}
.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(20, 24, 27, 0) 0%, #000000 100%);
  /* opacity: 0.2; */
  z-index: -1;
}

.carousel-item.centereditem {
  transition: transform 0.8s;
}

.carousel-text-overlay {
  position: absolute;
  width: 250px;
  height: 200px;
  pointer-events: none; /* Prevent text from blocking clicks */
  transform-style: preserve-3d;
}

.carousel-item-text {
  position: absolute;
  top: 50%;
  left: -20%;
  transform: translate(0%, 0%);
  opacity: 0;
  color: #fff;
  font-size: 40px;
  font-family: "Clash_Display";
  font-weight: 500`;
  transition: opacity 1.4s ease, transform 1.4s ease;
  pointer-events: none;
}

.carousel-item-text.visible {
  transform: translateY(80px);
  opacity: 1;
}

.a {
  transform: rotateY(0deg) translateZ(250px);
  background-image: url("../images/slide-one.jpg");
  background-size: cover;
  background-position: top;
}
.b {
  transform: rotateY(60deg) translateZ(250px);
  background-image: url("../images/slide-two.jpg");
  background-size: cover;
  background-position: top;
}
.c {
  transform: rotateY(120deg) translateZ(250px);
  background-image: url("../images/slide-three.png");
  background-size: cover;
  background-position: top;
}
.d {
  transform: rotateY(180deg) translateZ(250px);
  background-image: url("../images/slide-four.png");
  background-size: cover;
  background-position: top;
}
.e {
  transform: rotateY(240deg) translateZ(250px);
  background-image: url("../images/slide-five.png");
  background-size: cover;
  background-position: top;
}
.f {
  transform: rotateY(300deg) translateZ(250px);
  background-image: url("../images/slide-six.jpg");
  background-size: cover;
  background-position: top;
}
