@import "tailwindcss";
@font-face {
  font-family: "Satoshi";
  src: url(./assets/fonts/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf);
}
@font-face {
  font-family: "Clash_Display";
  src: url(./assets/fonts/ClashDisplay_Complete/Fonts/TTF/ClashDisplay-Variable.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins/Poppins-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins/Poppins-Bold.ttf);
  font-weight: 700;
}
:root {
  --text-white: #dfdfdf;
  --white: #ffffff;
  --cyan: #469be0;
  --hover-cyan: #4490d1;
  --charcoal: #13181b;
}
#smooth-wrapper {
  overflow: hidden;
}

#smooth-content {
  width: 100%;
  /* Add styles to ensure smooth scrolling */
}
/* Error Page */
.error-div {
  height: calc(100vh - 8.6rem);
  user-select: none;
}
.error-div p {
  font-family: "Montserrat", sans-serif;
}
.error-div h1 {
  font-weight: 900;
  pointer-events: none;
}
.error-div span {
  letter-spacing: -50px;
  font-family: "Montserrat", sans-serif;
  -webkit-text-stroke: 10px #ffffff;
}
/* Error Page */

/* Default Classes and Styles */
body {
  color: var(--white);
  background-color: var(--charcoal);
}
p {
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
}
.container {
  @apply mx-auto max-w-[1320px];
}
.text-cyan {
  color: var(--cyan);
}
.satoshi {
  font-family: "Satoshi";
}

:focus-visible {
  outline: none;
}
.separator {
  width: 100%;
  height: 1px;
}
/* CSS */
.navigation {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
}
.nav-links {
  color: var(--text-white);
}
.nav-links .navigation-link:hover {
  color: var(--hover-cyan);
  transition: color 0.3s;
}
.dropdown-link {
  color: var(--white);
}
.dropdown-link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  width: 0;
  height: 1px;
  background-color: var(--white);
}
.dropdown-link:hover::after {
  width: 100%;
  transition: width 0.5s;
}
.phone {
  font-family: "Poppins", sans-serif;
}
.has-dropdown {
  cursor: pointer;
}
.has-dropdown .dropdown {
  /* From https://css.glass */
  background: rgba(70, 155, 224, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}
.get-started-btn {
  font-family: "Clash_Display", sans-serif;
  /* border: 1px solid var(--white); */
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.get-started-btn::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cyan);
  z-index: -1;
  transition: all 0.5s;
}
.get-started-btn:hover {
  border: 1px solid var(--white);
}
.get-started-btn:hover::after {
  left: 100%;
}

/* Hero Section */
section.hero {
  background-image: url(./assets/Mask.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-text {
  font-size: 7vw;
  font-family: "Clash_Display";
  font-weight: 500;
}

.hero-para {
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
}

.hero-cta {
  position: relative;
  color: var(--cyan);
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.stats .percentage {
  font-size: 7rem;
  font-family: "Clash_Display", sans-serif;
  font-weight: 500;
  line-height: 1;
}
.stats h4,
.stats-para {
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
}

/* About Us */
.info-heading {
  font-size: 6rem;
  font-family: "Clash_Display", sans-serif;
  font-weight: 500;
  line-height: 1.1;
}

.hover-gallery .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.item-holder {
  padding: 3rem 0;
  /* margin-bottom: 10rem; */
  transition: all 0.3s ease;
}
.hover-gallery .item {
  font-size: 5rem;
  font-family: "Clash_Display", sans-serif;
  font-weight: 500;
}

.item-holder .hover-para {
  max-height: 0;
  overflow: hidden;
  margin-top: -1rem;
  transition: max-height 0.5s ease;
}
.item-holder:hover .hover-para {
  max-height: 48px;
}
.arrow {
  display: inline-block; /* Required for transform on spans */
  transition: transform 0.3s ease;
}
.item-holder:hover .arrow {
  transform: rotate(-45deg);
}
.item-holder:hover .item,
.item-holder:hover .arrow svg path {
  color: var(--cyan);
  stroke: var(--cyan);
}

/* Portfolio */
.portfolio p {
  font-size: 16px;
}
.marque h2 {
  font-size: 200px !important;
  font-family: "Clash_Display";
  font-weight: 500;
  white-space: nowrap;
  color: rgba(20, 24, 27, 1);
  text-shadow: 0px 0px 50px rgba(72, 154, 224, 0.4);
  text-align: center;
}
.about-us-info h2 {
  font-size: 45px;
  font-family: "Clash_Display", sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

.about-us-info .info::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background-color: #313b43;
  opacity: 1;
  top: 0;
  right: -10px;
}
.about-us-info .count {
  font-size: 300px;
  font-family: "Clash_Display";
  font-weight: 400;
  line-height: 0.8;
}
.about-us-info .count::after {
  position: absolute;
  content: "M";
  font-size: 50px;
  font-family: "Clash_Display";
  top: 1rem;
}
.about-us-info p {
  font-family: "Satoshi";
  font-size: 18px;
  max-width: 30ch;
}
.arrow-btn {
  background-color: var(--cyan);
}

/* Steps */
.steps {
  background-image: url(./assets/images/step-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.steps h2 {
  font-size: 5.9rem;
}
